.banner{
    width:100%;
    height:250px;
    font-size:30px;
    color:#fff;
    background:#0093db;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:25px;
    
}
